## Read the following data set:

https://archive.ics.uci.edu/ml/machine-learning-databases/adult/

Rename the columns as per the description from this file:

https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names

In [1]:
# Importing the packages
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Reading the CSV file and storing into dataframe
adult = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')
adult

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
10,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
11,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
13,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
14,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
27,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
28,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32531,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32532,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32533,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32534,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32535,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32536,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32537,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32538,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32539,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32540,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32541,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32542,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32543,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32544,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32545,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32546,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32547,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32548,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32549,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32550,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32551,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32552,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32553,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32554,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [24]:
# Renaming the column Names
adult.columns =["age","workclass","fnlwgt","education","education_num","marital_status","occupation","relationship","race","sex","capital_gain","capital_loss","hours_per_week","native_country","income"]
adult

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
10,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
11,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
13,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
14,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
15,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
16,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
17,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
18,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
19,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
20,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
21,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
22,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
23,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
24,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
25,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
26,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
27,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
28,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32530,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32531,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32532,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32533,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32534,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32535,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32536,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32537,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32538,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32539,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32540,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32541,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32542,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32543,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32544,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32545,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32546,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32547,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32548,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32549,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32550,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32551,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32552,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32553,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32554,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

## Create a sql db from adult dataset and name it sqladb

In [25]:
connection = sqlite3.connect("sqldb")       # Creating the sqldb
cursor = connection.cursor()

In [26]:
cursor.execute('SELECT COUNT(*) FROM {}'.format("sqldb"))
cursor.fetchall()

[(32560,)]

In [27]:
# Creating the Database using the sqlalchemy
import sqlalchemy
from sqlalchemy import create_engine

In [28]:
engine = create_engine('sqlite:///sqldb', echo=True)
adult.to_sql('sqldb', engine, if_exists='replace')

2019-01-31 00:10:57,263 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-01-31 00:10:57,265 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,267 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-01-31 00:10:57,269 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,271 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("sqldb")
2019-01-31 00:10:57,273 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,279 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("sqldb")
2019-01-31 00:10:57,281 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,287 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-01-31 00:10:57,291 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,294 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("sqldb")
2019-01-31 00:10:57,297 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,302 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sqldb' AND type = 'table'
2019-01-31 00:10:57,308 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,378 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("sqldb")
2019-01-31 00:10:57,379 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,380 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sqldb' AND type = 'table'
2019-01-31 00:10:57,381 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,384 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("sqldb")
2019-01-31 00:10:57,388 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,390 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_sqldb_index")
2019-01-31 00:10:57,394 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,396 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("sqldb")
2019-01-31 00:10:57,403 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,407 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_sqldb_index")
2019-01-31 00:10:57,409 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,415 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'sqldb' AND type = 'table'
2019-01-31 00:10:57,417 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,426 INFO sqlalchemy.engine.base.Engine
DROP TABLE sqldb
2019-01-31 00:10:57,428 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,670 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-31 00:10:57,678 INFO sqlalchemy.engine.base.Engine
CREATE TABLE sqldb (
	"index" BIGINT,
	age BIGINT,
	workclass TEXT,
	fnlwgt BIGINT,
	education TEXT,
	education_num BIGINT,
	marital_status TEXT,
	occupation TEXT,
	relationship TEXT,
	race TEXT,
	sex TEXT,
	capital_gain BIGINT,
	capital_loss BIGINT,
	hours_per_week BIGINT,
	native_country TEXT,
	income TEXT
)


2019-01-31 00:10:57,680 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,796 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-31 00:10:57,798 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_sqldb_index ON sqldb ("index")
2019-01-31 00:10:57,800 INFO sqlalchemy.engine.base.Engine ()
2019-01-31 00:10:57,973 INFO sqlalchemy.engine.base.Engine COMMIT
2019-01-31 00:10:58,022 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-31 00:10:58,438 INFO sqlalchemy.engine.base.Engine INSERT INTO sqldb ("index", age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, income) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2019-01-31 00:10:58,439 INFO sqlalchemy.engine.base.Engine ((0, 50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K'), (1, 38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (2, 53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (3, 28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K'), (4, 37, ' Private', 284582, ' Masters', 14, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 0, 0, 40, ' United-States', ' <=50K'), (5, 49, ' Private', 160187, ' 9th', 5, ' Married-spouse-absent', ' Other-service', ' Not-in-family', ' Black', ' Female', 0, 0, 16, ' Jamaica', ' <=50K'), (6, 52, ' Self-emp-not-inc', 209642, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 45, ' United-States', ' >50K'), (7, 31, ' Private', 45781, ' Masters', 14, ' Never-married', ' Prof-specialty', ' Not-in-family', ' White', ' Female', 14084, 0, 50, ' United-States', ' >50K')  ... displaying 10 of 32560 total bound parameter sets ...  (32558, 22, ' Private', 201490, ' HS-grad', 9, ' Never-married', ' Adm-clerical', ' Own-child', ' White', ' Male', 0, 0, 20, ' United-States', ' <=50K'), (32559, 52, ' Self-emp-inc', 287927, ' HS-grad', 9, ' Married-civ-spouse', ' Exec-managerial', ' Wife', ' White', ' Female', 15024, 0, 40, ' United-States', ' >50K'))
2019-01-31 00:10:58,772 INFO sqlalchemy.engine.base.Engine COMMIT

## 1. Select 10 records from the adult sqladb

In [29]:
pd.read_sql_query('SELECT * FROM sqldb limit 10', connection)   # Fetching 10 records from adult table

,index,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K

## 2. Show me the average hours per week of all men who are working in private sector

In [30]:
# Average hours per week of all men who are working in private sector
cursor.execute('SELECT avg(hours_per_week) FROM sqldb WHERE workclass=" Private"')
query_out = cursor.fetchall()
print("Average hours per week is ",query_out[0][0])

Average hours per week is  40.267095523440254

## 3. Show me the frequency table for education, occupation and relationship, separately

##### Frequency table for education

In [32]:
# Grouping the data based on Education
cursor.execute('SELECT education, COUNT(*) FROM sqldb GROUP BY education')
query_out = cursor.fetchall()
query_out

[(' 10th', 933),
 (' 11th', 1175),
 (' 12th', 433),
 (' 1st-4th', 168),
 (' 5th-6th', 333),
 (' 7th-8th', 646),
 (' 9th', 514),
 (' Assoc-acdm', 1067),
 (' Assoc-voc', 1382),
 (' Bachelors', 5354),
 (' Doctorate', 413),
 (' HS-grad', 10501),
 (' Masters', 1723),
 (' Preschool', 51),
 (' Prof-school', 576),
 (' Some-college', 7291)]

##### frequency table for Occupation

In [35]:
# Grouping the data based on Occupation
cursor.execute('SELECT occupation, COUNT(*) FROM sqldb GROUP BY occupation')
query_out = cursor.fetchall()
query_out

[(' ?', 1843),
 (' Adm-clerical', 3769),
 (' Armed-Forces', 9),
 (' Craft-repair', 4099),
 (' Exec-managerial', 4066),
 (' Farming-fishing', 994),
 (' Handlers-cleaners', 1370),
 (' Machine-op-inspct', 2002),
 (' Other-service', 3295),
 (' Priv-house-serv', 149),
 (' Prof-specialty', 4140),
 (' Protective-serv', 649),
 (' Sales', 3650),
 (' Tech-support', 928),
 (' Transport-moving', 1597)]

##### frequency table for Relationship

In [36]:
# Grouping the data based on Relationship
cursor.execute('SELECT relationship, COUNT(*) FROM sqldb GROUP BY relationship')
query_out = cursor.fetchall()
query_out

[(' Husband', 13193),
 (' Not-in-family', 8304),
 (' Other-relative', 981),
 (' Own-child', 5068),
 (' Unmarried', 3446),
 (' Wife', 1568)]

## 4. Are there any people who are married, working in private sector and having a masters degree

In [21]:
pd.read_sql_query('SELECT * FROM sqldb WHERE education=" Masters" AND workclass=" Private" AND marital_status=" Married-civ-spouse"',
                        connection).head(10)

,index,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
1,86,33,Private,202051,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
2,99,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
3,187,31,Private,99928,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,<=50K
4,197,35,Private,138992,Masters,14,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,7298,0,40,United-States,>50K
5,310,34,Private,142897,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,7298,0,35,Taiwan,>50K
6,360,62,Private,270092,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
7,404,41,Private,445382,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,65,United-States,>50K
8,434,33,Private,208405,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
9,467,49,Private,192776,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,45,United-States,>50K

## 5. What is the average, minimum and maximum age group for people working in different sectors

##### Average Age Group

In [37]:
# Average age group for different sectors
cursor.execute('SELECT occupation, avg(age) FROM sqldb GROUP BY occupation')
query_out = cursor.fetchall()
query_out

[(' ?', 40.882799782962564),
 (' Adm-clerical', 36.96391615813213),
 (' Armed-Forces', 30.22222222222222),
 (' Craft-repair', 39.03147109050988),
 (' Exec-managerial', 42.16920806689621),
 (' Farming-fishing', 41.2112676056338),
 (' Handlers-cleaners', 32.16569343065694),
 (' Machine-op-inspct', 37.71528471528472),
 (' Other-service', 34.94962063732929),
 (' Priv-house-serv', 41.7248322147651),
 (' Prof-specialty', 40.51763285024155),
 (' Protective-serv', 38.9537750385208),
 (' Sales', 37.353972602739724),
 (' Tech-support', 37.022629310344826),
 (' Transport-moving', 40.19787100814026)]

##### Minimum Age Group

In [38]:
# Minimum age group for different sectors
cursor.execute('SELECT occupation, min(age) FROM sqldb GROUP BY occupation')
query_out = cursor.fetchall()
query_out

[(' ?', 17),
 (' Adm-clerical', 17),
 (' Armed-Forces', 23),
 (' Craft-repair', 17),
 (' Exec-managerial', 17),
 (' Farming-fishing', 17),
 (' Handlers-cleaners', 17),
 (' Machine-op-inspct', 17),
 (' Other-service', 17),
 (' Priv-house-serv', 17),
 (' Prof-specialty', 17),
 (' Protective-serv', 17),
 (' Sales', 17),
 (' Tech-support', 17),
 (' Transport-moving', 17)]

##### Maximum Age Group

In [40]:
# Maximum age group for different sectors
cursor.execute('SELECT occupation, max(age) FROM sqldb GROUP BY occupation')
query_out = cursor.fetchall()
query_out

[(' ?', 90),
 (' Adm-clerical', 90),
 (' Armed-Forces', 46),
 (' Craft-repair', 90),
 (' Exec-managerial', 90),
 (' Farming-fishing', 90),
 (' Handlers-cleaners', 90),
 (' Machine-op-inspct', 90),
 (' Other-service', 90),
 (' Priv-house-serv', 81),
 (' Prof-specialty', 90),
 (' Protective-serv', 90),
 (' Sales', 90),
 (' Tech-support', 73),
 (' Transport-moving', 90)]

## 6. Calculate age distribution by country

##### Minimum Age Distribution  by Country

In [41]:
cursor.execute('SELECT native_country, min(age) FROM sqldb GROUP BY native_country')
query_out = cursor.fetchall()
query_out

[(' ?', 17),
 (' Cambodia', 18),
 (' Canada', 17),
 (' China', 22),
 (' Columbia', 18),
 (' Cuba', 21),
 (' Dominican-Republic', 18),
 (' Ecuador', 21),
 (' El-Salvador', 17),
 (' England', 17),
 (' France', 20),
 (' Germany', 18),
 (' Greece', 22),
 (' Guatemala', 19),
 (' Haiti', 17),
 (' Holand-Netherlands', 32),
 (' Honduras', 18),
 (' Hong', 19),
 (' Hungary', 24),
 (' India', 17),
 (' Iran', 22),
 (' Ireland', 23),
 (' Italy', 19),
 (' Jamaica', 18),
 (' Japan', 19),
 (' Laos', 19),
 (' Mexico', 17),
 (' Nicaragua', 19),
 (' Outlying-US(Guam-USVI-etc)', 21),
 (' Peru', 17),
 (' Philippines', 17),
 (' Poland', 17),
 (' Portugal', 19),
 (' Puerto-Rico', 17),
 (' Scotland', 18),
 (' South', 19),
 (' Taiwan', 20),
 (' Thailand', 19),
 (' Trinadad&Tobago', 17),
 (' United-States', 17),
 (' Vietnam', 19),
 (' Yugoslavia', 20)]

##### Maximum Age Distribution  by Country

In [43]:
cursor.execute('SELECT native_country, max(age) FROM sqldb GROUP BY native_country')
query_out = cursor.fetchall()
query_out

[(' ?', 90),
 (' Cambodia', 65),
 (' Canada', 80),
 (' China', 75),
 (' Columbia', 75),
 (' Cuba', 82),
 (' Dominican-Republic', 78),
 (' Ecuador', 90),
 (' El-Salvador', 79),
 (' England', 90),
 (' France', 64),
 (' Germany', 74),
 (' Greece', 65),
 (' Guatemala', 66),
 (' Haiti', 63),
 (' Holand-Netherlands', 32),
 (' Honduras', 58),
 (' Hong', 60),
 (' Hungary', 81),
 (' India', 61),
 (' Iran', 63),
 (' Ireland', 68),
 (' Italy', 77),
 (' Jamaica', 66),
 (' Japan', 61),
 (' Laos', 56),
 (' Mexico', 81),
 (' Nicaragua', 67),
 (' Outlying-US(Guam-USVI-etc)', 63),
 (' Peru', 69),
 (' Philippines', 90),
 (' Poland', 85),
 (' Portugal', 78),
 (' Puerto-Rico', 90),
 (' Scotland', 62),
 (' South', 90),
 (' Taiwan', 61),
 (' Thailand', 55),
 (' Trinadad&Tobago', 61),
 (' United-States', 90),
 (' Vietnam', 73),
 (' Yugoslavia', 66)]

##### Average Age Distribution by Country

In [44]:
cursor.execute('SELECT native_country, avg(age) FROM sqldb GROUP BY native_country')
query_out = cursor.fetchall()
query_out

[(' ?', 38.72555746140652),
 (' Cambodia', 37.78947368421053),
 (' Canada', 42.54545454545455),
 (' China', 42.53333333333333),
 (' Columbia', 39.71186440677966),
 (' Cuba', 45.76842105263158),
 (' Dominican-Republic', 37.72857142857143),
 (' Ecuador', 36.642857142857146),
 (' El-Salvador', 34.132075471698116),
 (' England', 41.15555555555556),
 (' France', 38.96551724137931),
 (' Germany', 39.25547445255474),
 (' Greece', 46.206896551724135),
 (' Guatemala', 32.421875),
 (' Haiti', 38.27272727272727),
 (' Holand-Netherlands', 32.0),
 (' Honduras', 33.84615384615385),
 (' Hong', 33.65),
 (' Hungary', 49.38461538461539),
 (' India', 38.09),
 (' Iran', 39.41860465116279),
 (' Ireland', 36.458333333333336),
 (' Italy', 46.42465753424658),
 (' Jamaica', 35.592592592592595),
 (' Japan', 38.24193548387097),
 (' Laos', 34.72222222222222),
 (' Mexico', 33.29082426127527),
 (' Nicaragua', 33.61764705882353),
 (' Outlying-US(Guam-USVI-etc)', 38.714285714285715),
 (' Peru', 35.25806451612903),
 (' Philippines', 39.44444444444444),
 (' Poland', 43.11666666666667),
 (' Portugal', 40.2972972972973),
 (' Puerto-Rico', 40.50877192982456),
 (' Scotland', 40.416666666666664),
 (' South', 38.75),
 (' Taiwan', 33.8235294117647),
 (' Thailand', 34.94444444444444),
 (' Trinadad&Tobago', 41.31578947368421),
 (' United-States', 38.65566183276766),
 (' Vietnam', 34.059701492537314),
 (' Yugoslavia', 38.8125)]

## 7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'

In [45]:
cursor.execute('ALTER TABLE sqldb ADD COLUMN Net_Capital_Gain')

In [46]:
pd.read_sql_query('SELECT * FROM sqldb ',
                        connection).head(10)

,index,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,Net_Capital_Gain
0,0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,None
1,1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,None
2,2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,None
3,3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,None
4,4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,None
5,5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,None
6,6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,None
7,7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,None
8,8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,None
9,9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K,None

In [47]:
cursor.execute('UPDATE sqldb SET Net_Capital_Gain=capital_gain-capital_loss')

In [48]:
pd.read_sql_query("SELECT * FROM sqldb", connection).head(10)

,index,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,Net_Capital_Gain
0,0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
1,1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
2,2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
3,3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0
4,4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,0
5,5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,0
6,6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,0
7,7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,14084
8,8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,5178
9,9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K,0